<div class="row">

  <div class="col-md-8 offset-md-2 offset-md-right-2 mt-5">
    <h1>Eat-Da-Burger!</h1>
  </div>

</div>


<div>

  <div class="col-md-4 offset-md-4 offset-md-right-4 mt-1">
    <img src="assets/img/burger.gif" alt="Burger Gif" id="burger_image" class="rounded">
  </div>

</div>


<div class="row">

  <div class="col-md-6">
    <h2>Burgers to Eat:</h2>
    <ul>
      {{#each burgers }}
        {{#unless devoured}}
          <li class="m-1">{{name}}
            &nbsp;
            <a href="#" data-toggle="tooltip" data-placement="top" title="Devour It!">
              <button type="button" class="btn btn-success devour_burger" data-id="{{id}}">
                <img class="eat_image" src="assets/img/homer_eat.png" alt="Devour the Burger" class="rounded">
              </button>
            </a>
            &nbsp;
            <input type="text" class="customerName" placeholder="John Doe">
            <button type="submit" class="btn btn-default customer_devour_burger" data-id="{{id}}">Submit</button>
            &nbsp;
            <a href="#" data-toggle="tooltip" data-placement="top" title="Delete the Burger">
                <i data-id="{{id}}" class="fa fa-trash delete_burger" aria-hidden="true"></i>
            </a>
          </li>
          {{/unless}}
        {{/each}}
      </ul>
    </div>

    <div class="col-md-1">
      <div class="verticalLine">
      </div>
    </div>

    <div class="col-md-5">
      <h2>Burgers Devoured:</h2>
      <ul>
        {{#each burgers }}
          {{#if devoured}}
            <li class="m-1">{{name}} (eaten by {{#if Customer.name}}{{Customer.name}}{{else}}Anonymous{{/if}})
              &nbsp;
              <a href="#" data-toggle="tooltip" data-placement="top" title="Undo Devouring!">
                <button type="button" class="btn btn-warning undo_devour_burger" data-id="{{id}}" data-customer-id="{{Customer.id}}">
                  <img class="undo_eat_image" src="assets/img/homer_sad.png" alt="Undevour the Burger" class="rounded">
                </button>
              </a>
              &nbsp;
              <a href="#" data-toggle="tooltip" data-placement="top" title="Delete the Burger">
                <i data-id="{{id}}" class="fa fa-trash delete_burger" aria-hidden="true"></i>
              </a>
            </li>
          {{/if}}
        {{/each}}
      </ul>
    </div>

</div>


<div class="row m-5">

  <div class="col-md-4 offset-md-4 offset-md-right-4">
    <form class="create-form">
      <div class="form-group">
        <textarea class="form-control" id="burgerName" rows="3" placeholder="Add a burger to eat..."></textarea>
      </div>
      <button type="submit" class="btn btn-primary" id="submit_burger">Submit</button>
    </form>
  </div>

</div>
